* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
.container {
  display: flex;
}
.content {
  padding: 40px;
  margin: 100px auto;
  border-radius: 2px;
  color: #edf5e1;
  background-color: #05386b;
}
.message {
  margin-bottom: 50px;
}
.info {
  font-size: 30px;
}
.smile {
  font-size: 50px;
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #5cdb95;
}
.email {
  font-size: 18px;
}
