* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
section {
  padding: 20px 10%;
  border-bottom: 20px solid #baecff;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #4a4a4a;
}
.title-tag {
  text-decoration: none;
  padding-bottom: 0;
}
.titlename {
  margin: 0;
}
.phone-number {
  margin-top: 15px;
  margin-bottom: 5px;
}
.section-one > div {
  margin-top: 80px;
  padding-left: 10px;
  border-left: 4px solid black;
}
.sidebar {
  padding-left: 10px;
  border-left: 4px solid black;
}
.navbar {
  overflow: hidden;
  background-color: #94e0fd;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding: 15px 10%;
  z-index: 1;
  border-bottom: 2px solid black;
}
.nav-items {
  padding: 5px 0;
  margin-top: 10px;
  background-color: white;
  display: none;
  width: 40%;
  border-bottom: 2px solid black;
}
#burgermenu {
  font-size: 20px;
  padding: 0;
}
.nav-items * > * {
  padding: 10px;
  margin: 0;
  color: black;
}
.nav-items * > *:hover {
  color: white;
}
.section-one {
  background-color: #94e0fd;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
h1 {
  font-size: 34px;
}
h2 {
  margin: 0;
  padding: 20px 0;
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
p {
  font-size: 14px;
}
.section-two {
  background-color: #fafafa;
}
.profile-info {
  text-align: justify;
}
.headshot {
  border-radius: 20px;
  background-image: url("images/headshot.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 50vw;
  height: 35vh;
  margin: 20px auto;
}
.section-three {
  background-color: #94e0fd;
}
.icon {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 48%;
  height: 40px;
  border: 1px solid black;
  border-radius: 20px;
}
.icon:hover {
  /* background-color: #fafafa; */
  box-shadow: 0px 0px 5px 0px rgba(55,55,55,0.5)
}
.developer-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.section-four {
  background-color: #fafafa;
  top: -100px;
}
.section-four > div {
  text-align: center;
  border: 4px grey;
}
.ga-projects > div {
  margin: 20px 0;
}
.card {
  padding: 20px;
  border-radius: 10px;
}
.flexbox {
  display: flex;
  text-align: center;
}
.empty-project {
  text-align: center;
  height: 80px;
}
.empty-project > h3 {
  margin: auto 0;
}
.shadow {
  box-shadow: 0px 0px 5px 0px rgba(55,55,55,0.3)
}
.text-underline {
  text-decoration: underline;
}
.screenshot {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: auto;
}
.section-five {
  background-color: #94e0fd;
}
.text-bold {
  font-weight: bold;
}
.section-six {
  background-color: #fafafa;
}
.section-seven {
  background-color: #94e0fd;
}
.email {
  font-size: 18px;
}
.text-center {
  text-align: center;
}

@media screen and (min-width: 846px), print {

  section {
    padding: 50px 15%;
  }
  #burgermenu {
    display: none;
  }
  .navbar {
    padding: 0 15%;
    display: block;
  }
  .nav-items {
    background-color: #94e0fd;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border: none;
    padding: 0;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    margin: 0;
    padding: 15px 0;
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 18px;
  }
  .titlename {
    margin-top: 0;
  }
  .section-two {
    display: flex;
  }
  .profile-info {
    width: 70%;
  }
  .headshot {
    width: 20vw;
    height: 45vh;
    margin: 40px;
  }
  .icon {
    text-align: center;
    padding: 15px 0;
    width: 24%;
    height: 50px;
  }
  .empty-project {
    width: 50%;
    margin: 0 auto;
  }
  .ga-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .ga-projects > div {
    width: 48%;
    padding-bottom: 20px;
  }
  .ga-projects > div > h3 {
    font-size: 22px;
  }

}
